<div class="container content-container">
  <div *ngIf="user" class="form-signin">

    <h3>{{user.username}} details</h3>

    <div class="label-container">
      <label for="inputUsername">Username</label>
    </div>
    <input [(ngModel)]="user.username" class="form-control"
           id="inputUsername" placeholder="Username" required autofocus>

    <div class="label-container">
      <label for="inputFirstName">First Name</label>
    </div>
    <input [(ngModel)]="user.firstName" class="form-control"
           id="inputFirstName" placeholder="First Name" required>

    <div class="label-container">
      <label for="inputLastName">Last Name</label>
    </div>
    <input [(ngModel)]="user.lastName" class="form-control"
           id="inputLastName" placeholder="Last Name" required>

    <div class="label-container">
      <label for="inputEmail">Username</label>
    </div>
    <input [(ngModel)]="user.email" class="form-control"
           id="inputEmail" placeholder="Email" required>

    <div class="buttons-container">
      <button (click)="save()" class="btn btn-success">Submit changes</button>
      <button (click)="goBack()" class="btn btn-light">Discard</button>
    </div>

  </div>
</div>
