<div class="container" style="padding-left: 0; padding-right: 0;">
  <header>
    <nav class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

      <a class="navbar-brand"
         routerLink="/"
         (click)="navbarCollapsed = true">
        PR Users demo!
      </a>

      <button class="navbar-toggler navbar-toggler-right"
              type="button" (click)="navbarCollapsed = !navbarCollapsed"
              [attr.aria-expanded]="!navbarCollapsed"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed"
           id="navbarContent">
        <div class="mr-auto">
          <ul class="navbar-nav" style="text-align: right;">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link"
                 routerLink="/users"
                 (click)="navbarCollapsed = true">
                Users
              </a>
            </li>
          </ul>
        </div>

        <div class="float-right">
          <ul class="navbar-nav" style="text-align: right;">

            <li *ngIf="authService.currentLogin" class="nav-item"
                 [routerLinkActive]="['active']">
              <a class="nav-link username"
                 routerLink="/details/{{authService.currentLogin.id}}"
                 (click)="navbarCollapsed = true">
                {{authService.currentLogin.username}}
              </a>
            </li>

            <li *ngIf="authService.loginChecked && !authService.currentLogin"
                class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/auth"
                 (click)="navbarCollapsed = true">
                Log In/Sign Up
              </a>
            </li>

            <li *ngIf="authService.currentLogin" class="nav-item"
                [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/logout"
                 (click)="navbarCollapsed = true">
                Logout
              </a>
            </li>

          </ul>
        </div>
      </div>

    </nav>
  </header>
</div>

<div>
  <router-outlet></router-outlet>
</div>
